src/main/mule/brisa-core-niugis-exp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="brisa-core-niugis-exp-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="brisa-core-niugis-exp-config" api="resource::f36688ab-93de-44ae-966d-9cb7c3d1cfa5:brisa-core-niugis-exp:1.0.0:raml:zip:brisa-core-niugis-exp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="2119335" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="b6dd3d23-f586-4da2-85f0-ac3161009a59" flowRef="brisa-core-niugis-exp-main" />
	<flow name="brisa-core-niugis-exp-main">
        <http:listener config-ref="brisa-core-niugis-exp-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="brisa-core-niugis-exp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="brisa-core-niugis-exp-console">
        <http:listener config-ref="brisa-core-niugis-exp-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="brisa-core-niugis-exp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\v1\bcr:brisa-core-niugis-exp-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "id": "zonas_de_paragem_bcr",
    "title": "Zonas de paragem bcr",
    "description": "Trata-se do ficheiro que representa a caracterização da largura da berma direita, por sentido, das autoestradas da rede BCR. Classificação agrupada por segmentos que representam classes de largura. As classes são as seguintes 1) Berma Reduzida inferior a dois metros 2) Berma Intermédia superior ou igual a dois metros e inferior a dois metros e meio 3) Berma Larga, superior a dois metros e meio",
    "keywords": [
        "Zonas",
        "de",
        "paragem",
        "bcr"
    ],
    "links": [
        {
            "type": "application/json",
            "rel": "root",
            "title": "The landing page of this server as JSON",
            "href": "https://apibrisa.niugis.com?f=json"
        },
        {
            "type": "text/html",
            "rel": "root",
            "title": "The landing page of this server as HTML",
            "href": "https://apibrisa.niugis.com?f=html"
        },
        {
            "type": "application/json",
            "rel": "self",
            "title": "This document as JSON",
            "href": "https://apibrisa.niugis.com/collections/zonas_de_paragem_bcr?f=json"
        },
        {
            "type": "application/ld+json",
            "rel": "alternate",
            "title": "This document as RDF (JSON-LD)",
            "href": "https://apibrisa.niugis.com/collections/zonas_de_paragem_bcr?f=jsonld"
        },
        {
            "type": "text/html",
            "rel": "alternate",
            "title": "This document as HTML",
            "href": "https://apibrisa.niugis.com/collections/zonas_de_paragem_bcr?f=html"
        },
        {
            "type": "application/json",
            "rel": "queryables",
            "title": "Queryables for this collection as JSON",
            "href": "https://apibrisa.niugis.com/collections/zonas_de_paragem_bcr/queryables?f=json"
        },
        {
            "type": "text/html",
            "rel": "queryables",
            "title": "Queryables for this collection as HTML",
            "href": "https://apibrisa.niugis.com/collections/zonas_de_paragem_bcr/queryables?f=html"
        },
        {
            "type": "application/geo+json",
            "rel": "items",
            "title": "items as GeoJSON",
            "href": "https://apibrisa.niugis.com/collections/zonas_de_paragem_bcr/items?f=json"
        },
        {
            "type": "application/ld+json",
            "rel": "items",
            "title": "items as RDF (GeoJSON-LD)",
            "href": "https://apibrisa.niugis.com/collections/zonas_de_paragem_bcr/items?f=jsonld"
        },
        {
            "type": "text/html",
            "rel": "items",
            "title": "Items as HTML",
            "href": "https://apibrisa.niugis.com/collections/zonas_de_paragem_bcr/items?f=html"
        }
    ],
    "extent": {
        "spatial": {
            "bbox": [
                [
                    -9.442793349107554,
                    37.1558251171369,
                    -7.035742452348931,
                    41.98612533453015
                ]
            ],
            "crs": "http://www.opengis.net/def/crs/EPSG/8.5/4326"
        },
        "temporal": {
            "interval": [
                [
                    null,
                    null
                ]
            ]
        }
    },
    "itemType": "feature"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\v1\highways:brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\nodes\modeling:brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\nodes:brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\pedestrians:brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\services:brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\underlines:brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\nodes\(id):brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\bcr\(id):brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\underlines\(id):brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\pedestrians\(id):brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\highways\(id):brisa-core-niugis-exp-config">
    </flow>
    <flow name="get:\v1\services\(id):brisa-core-niugis-exp-config">
    </flow>
	<flow name="brisa-core-niugis-expFlow" doc:id="5328bece-a05a-419e-a39e-9ae7c8ed6e45" >
	</flow>
</mule>
